In [4]:
pwd

u'/Users/auroraleport/Documents/LePort_git/SQL_practice'

Given the data file linked below, what is the name of the tag with the lowest id that has a post count equal to the median post count?

In [5]:
import pandas as pd

In [32]:
tags_df = pd.read_csv('tags.csv', delimiter='~', encoding='utf-8')

In [75]:
print len(tags_df)
tags_df.head()

233

   ﻿Id     TagName  Count  ExcerptPostId  WikiPostId
0    1        dogs   1067          162.0       161.0
1    2  aggression     70          393.0       392.0
2    5    training    265          188.0       187.0
3    6        fear     30          536.0       535.0
4   10        cats   1066          204.0       203.0

In [29]:
tags_df.describe()

              ﻿Id        Count  ExcerptPostId   WikiPostId
count  233.000000   233.000000     171.000000   171.000000
mean   227.309013    34.935622    2275.304094  2274.304094
std    140.149977   113.147448    2336.147513  2336.147513
min      1.000000     1.000000      89.000000    88.000000
25%     98.000000     4.000000     845.000000   844.000000
50%    226.000000    10.000000    1243.000000  1242.000000
75%    351.000000    23.000000    2599.000000  2598.000000
max    463.000000  1067.000000    9416.000000  9415.000000

In [80]:
#median_counts = tags_df[['TagName','Count']].groupby(['TagName']).median()
median_counts.head()
tags_df[['Count']].median()

Count    10.0
dtype: float64

In [101]:
tags_df[tags_df.Count == 10].sort_index()

     ﻿Id     TagName  Count  ExcerptPostId  WikiPostId
49    79       sound     10         1046.0      1045.0
60   100    chickens     10         1204.0      1203.0
63   111       frogs     10         1172.0      1171.0
70   122      stress     10            NaN         NaN
93   183  amphibians     10          820.0       819.0
151  290    genetics     10         2255.0      2254.0
162  329     agility     10         2629.0      2628.0
166  339       ticks     10            NaN         NaN

# Connecting SQL

In [35]:
dfs = [tags_df]
names = ['tags']

In [21]:
import sqlite3 as sql
import sys

In [36]:
for name,df in zip(names,dfs):
    with sql.connect('tags.db') as conn:
        conn.text_factory = str
        df.to_sql(name, conn, flavor='sqlite',if_exists='replace',index=False)
c = conn.cursor()

In [53]:
c.execute("""DROP TABLE median_count""")

In [54]:
c.execute("""CREATE TABLE median_count as 
            SELECT TagName, Count as Median FROM
            (SELECT a1.TagName, a1.Count, COUNT(a1.Count) Rank
FROM tags a1, tags a2
WHERE a1.Count < a2.Count OR (a1.Count=a2.Count AND a1.TagName <= a2.TagName)
group by a1.TagName, a1.Count
order by a1.Count desc) a3
WHERE Rank = (SELECT (COUNT(*)+1)/2 FROM tags)""")

In [55]:
c.execute("""SELECT * FROM median_count""")
names = [description[0] for description in c.description]
print names
data = c.fetchall()
median_count = pd.DataFrame(data, columns = ['TagName','Median'])
median_count

['TagName', 'Median']

  TagName  Median
0   ticks      10

In [92]:
c.execute("""SELECT \xef\xbb\xbfId as ID, TagName
FROM tags
WHERE COUNT = 10""")
names = [description[0] for description in c.description]
print names
data = c.fetchall()
median_count = pd.DataFrame(data, columns = ['ID','TagName']).sort()
median_count

['ID', 'TagName']

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: FutureWarning: sort(....) is deprecated, use sort_index(.....)

    ID     TagName
0   79       sound
1  100    chickens
2  111       frogs
3  122      stress
4  183  amphibians
5  290    genetics
6  329     agility
7  339       ticks